@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../variables';

.bg {
	height: 100%;
	overflow-y: scroll;
	padding: 3em 1em;

	#main {
		height: max-content;
		width: 100%;
		margin: 0 2em;
		max-width: 950px;
		min-width: min-content;
		color: white !important;
		text-align: center;

		#left {
			p {
				margin-bottom: 0.1em;
			}
		}

		#right {
			text-align: center;

			ul {
				position: relative;
				list-style-type: none;
			}
			a {
				color: white;
				&:hover {
					text-decoration: none;
				}
			}

			#work {
				a {
					color: white;
				}
				.btn {
					color: white;
					display: inline-block;
					padding: 0.5em 1em;
					margin: 0 1em;
					border: 1px solid white;
					font-weight: bold;
					backdrop-filter: blur(15px);

					@media (max-width: 600px) {
						padding: 0.25em;
						margin: 0.25em;
					}

					transition: all 0.25s;

					&:focus {
						box-shadow: none;
						outline: 0 !important;
					}
					&:hover {
						transform: scale(1.15);
					}
				}
			}
		}

		#name {
			margin-top: 0.5em;
		}

		#divider {
			height: 0px;
			width: 75%;
			padding: 0;
			margin: 1.5em auto;
			border-top: 1px solid white;
		}

		#icons {
			margin-top: 2em;
			.icon-divider {
				width: 1em;
			}
		}

		img#headshot {
			width: 100%;
			max-width: 360px;
			border-radius: 50%;
			border: 1px solid white;
			padding: 0.5em;
		}
	}
}
