.bg {
  height: 100%;
}
.bg #main {
  height: max-content;
  width: 100%;
  max-width: 360px;
  min-width: 300px;
}
.bg #main img#headshot {
  width: 100%;
  border-radius: 50%;
  padding: 1em;
}
.bg #main .card {
  width: inherit;
  height: inherit;
}
