@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../variables';

.bg {
    height: 100%;
    
    #main {
        height: max-content;
        width: 100%;
        margin: 0 2em;
        max-width: 360px;
        min-width: min-content;

        p {
            margin-bottom: .1em;
        }

        #icons {
            margin-top: 1em;
            i {
                transition: color .2s;
                color: $dark;
                &.fa-linkedin:hover {
                    color: $linked-in-blue;
                }
                &.fa-github:hover {
                    color: black;
                }
                &.fa-instagram:hover {
                    color: black;
                }
                &.fa-twitter:hover {
                    color: $twitter-blue;
                }
            }
            .icon-divider {
                width: 1em;
            }
            
        }

        img#headshot {
            width: 100%; 
            border-radius: 50%;
            padding: 1em;
            // filter: grayscale(60%) brightness(110%);
            // transition: -webkit-filter .2s linear;
            // &:hover {
            //     filter: grayscale(0%) brightness(100%) saturate(75%);
            // }
        }
        .card {
            width: inherit;
            height: inherit;
        }
    }
}