<div class="bg row" id="bg" (window:resize)="onResize($event)">
	<div id="main" class="row justify-content-center align-content-center">
		<div class="card text-center pick-up gradient alt">
			<div class="card-body">
				<div class="row">
					<div id="left" class="col-sm">
						<img src="assets/headshot3.jpg" alt="headshot" id="headshot" class="headshot" />
						<h1 id="name">Ryan Racicot</h1>
						<div class="col justify-content-center">
							<p>Software Engineer</p>
							<p>New York, NY</p>
						</div>
						<div id="divider"></div>
					</div>
					<div id="right" class="col-sm">
						<ul>
							<li>
								<p>
									Hello! My name is Ryan, and I am a software engineer currently living in Brooklyn,
									creating a management system for serverless application development with
									<a href="https://aws.amazon.com/proton/" target="_blank">AWS Proton</a>.
								</p>
							</li>
							<li>
								<p>
									I studied computer science and music at the University of Rochester, where in my
									free time you could find me working on personal programming projects or singing with
									<a href="https://www.facebook.com/URAfterHours/" target="_blank"
										>After Hours A Cappella</a
									>.
								</p>
							</li>
							<li>
								<p style="text-align: center; padding-top: 2em; margin-bottom: 0.5em">
									Check out some of my work!
								</p>
							</li>
							<li>
								<div id="work" class="row justify-content-center">
									<div routerLink="projects" class="btn">Projects</div>
									<div class="btn">
										<a href="assets/Resume 7-24-23.pdf" target="_blank">Resume</a>
									</div>
								</div>
							</li>
						</ul>
						<div id="icons" class="row justify-content-center align-items-center hover-icons">
							<a
								href="https://www.linkedin.com/in/ryan-racicot-2b8934129/"
								target="_blank"
								rel="noopener noreferrer"
							>
								<i class="fab fa-linkedin fa-2x"></i>
							</a>
							<div class="icon-divider"></div>
							<a href="https://github.com/RyanRacicot" target="_blank" rel="noopener noreferrer">
								<i class="fab fa-github fa-2x"></i>
							</a>
							<div class="icon-divider"></div>
							<a href="mailto:ryanmracicot@gmail.com" target="_blank" rel="noopener noreferrer">
								<i class="far fa-envelope fa-2x"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
