<div class="bg row justify-content-center align-content-center">
    <div id="main" class="row justify-content-center align-content-center">
        <div class="card text-center pick-up">
            <div class="card-body">
                <img src="assets/headshot.jpg" alt="headshot" id="headshot">
                <h2>Ryan Racicot</h2>
                <div class="col justify-content-center align-content-center">
                    <p>Software Engineer</p>
                    <p>New York, NY</p>
                </div>
            </div>
        </div>
</div>