@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../variables';

.bg {
    height: 100%;
    
    #main {
        height: max-content;
        width: 100%;
        margin: 0 2em;
        max-width: 360px;
        min-width: min-content;
        color: white !important;
        text-align: center;

        p {
            margin-bottom: .1em;
        }

        #icons {
            margin-top: 1em;
            .icon-divider {
                width: 1em;
            }
            
        }

        img#headshot {
            width: 100%; 
            border-radius: 50%;
            border: 1px solid white;
            padding: .5em;
        }
    }
}