<div class="bg row justify-content-center align-content-center">
	<div id="main" class="row justify-content-center align-content-center">
		<div class="card text-center pick-up gradient alt">
			<div class="card-body">
				<img src="assets/webp/headshot.webp" alt="headshot" id="headshot" />
				<div id="spiel">
					<p>
						Hello! My name is Ryan, and I am a software engineer currently working with Containers and Linux
						organization for Amazon Web Services.
					</p>
					<p>
						I studied computer science and music at the University of Rochester, where in my free time you
						could find me working on personal programming projects or singing with
						<a href="https://www.facebook.com/URAfterHours/" target="_blank">After Hours A Cappella</a>.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
