<div class="bg row justify-content-center align-content-center">
    <div id="main" class="row justify-content-center align-content-center">
        <div class="card pick-up gradient alt">
            <div class="card-body">
                <img src="assets/headshot.jpg" alt="headshot" id="headshot">
                <h3>Hey there!</h3>
                <p>
                    My name is Ryan, I am a software engineer currently based in New York, NY. I currently work for Amazon, working on refining the 
                    suggestions system for recommended items on amazon.com. 

                </p>
                <div class="line-break"></div>
                I studied at the University of Rochester completing a BS in Computer Science and a BA in Music with a focus in Audio Music Engineering.
                <div class="line-break"></div>
                <p>
                    I am a software engineer because I am addicted to learning, solving problems, and making new things that people will use and enjoy.
                </p>
                <div class="line-break"></div>
                <p>
                    Recently, in my free time I have been working on web design and development projects, as well as interactive sound synthesis 
                    applications.
                </p>                
            </div>
        </div>
</div>