<div class="bg row justify-content-center align-content-center">
	<div id="main" class="row justify-content-center align-content-center">
		<div class="card text-center pick-up gradient alt">
			<div class="card-body">
				<img src="assets/headshot.jpg" alt="headshot" id="headshot" />
				<div id="spiel">
					<p>
						Hey! My name is Ryan, and I am a software engineer currently working for Amazon in NYC.
					</p>
					<p>
						I studied computer science and music at the University of Rochester, where in my free time you
						could find me working on personal projects or singing with
						<a href="https://www.facebook.com/URAfterHours/" target="_blank">After Hours A Cappella</a>.
					</p>
					<p>
						Recently, I have been combining my love for programming and music, creating a web application
						with audio processing powered through super efficient WebAssembly.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
