<div class="main ">
    <div class="row justify-content-center align-content-center">
        <div routerLink="['project-details', 'harmonizer']" class="card pick-up">
            <div class="card-body">
                <div class="dummy-img"></div>
                <div class="title">
                    <h2>Polyphonic Real-Time Harmonizer</h2>
                    <a href="https://github.com/RyanRacicot/harmonizer" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-github" style="color: black;"></i>
                    </a> 
                    <p>A virtual instrument designed for live performance which retunes an input vocal signal to various output signals determined from midi input.</p>
                </div>
            </div>
        </div>
        <div routerLink="['project-details', 'rachel-portfolio']" class="card pick-up">
            <div class="card-body">
                <div class="dummy-img"></div>
                <div class="title">
                    <h2>Rachel Kobernick's Portfolio</h2>
                    <a href="https://github.com/RachelKobernick/Portfolio" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-github" style="color: black;"></i>
                    </a> 
                    - 
                    <a href="https://rachelkobernick.github.io/Portfolio/" target="_blank" rel="noopener noreferrer">rachelkobernick.com</a>
                </div>
            </div>
        </div>
        <div routerLink="['project-details', 'hitch']" class="card pick-up">
            <div class="card-body">
                <div class="dummy-img"></div>
                <div class="title">
                    <h2>Hitch</h2>
                    <a href="https://bitbucket.org/Ryan-Racicot/pool-it/src/master/" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-bitbucket" style="color: black;"></i>
                    </a> 
                    <p>A cross-platform mobile application designed for college students coordinating carpooling trips.</p>
                </div>
            </div>
        </div>
        <div routerLink="['project-details', 'repertoire-vault']" class="card pick-up">
            <div class="card-body">
                <div class="dummy-img"></div>
                <div class="title">
                    <h2>Repertoire Vault</h2>
                    <a href="https://github.com/RyanRacicot/RepertoireVault" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-github" style="color: black;"></i>
                    </a> 
                    - 
                    <a href="https://immense-tor-11241.herokuapp.com/" target="_blank" rel="noopener noreferrer">repertoirevault.com</a>
                    <p>Online tool designed for career and student musicians to keep track of and share their performance ready repertoire</p>
                </div>
            </div>
        </div>
    </div>
</div>
