.main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 2em 0 3em 0 !important;
  text-align: center;
}
@media (min-width: 540px) {
  .main {
    display: flex;
    flex-flow: row wrap;
    word-wrap: break-word;
    overflow-y: scroll;
    justify-content: space-around;
  }
}
@media (max-width: 540px) {
  .main {
    display: relative;
    overflow-x: hidden;
  }
}
.main .card-wrapper {
  margin: auto;
}
.main .card {
  margin: 1em 0.5em;
  height: min-content;
  width: auto;
  max-width: 400px;
  word-break: break-word;
}
@media (max-width: 540px) {
  .main .card {
    margin: 1em auto;
  }
}
.main .card .left {
  min-width: 300px;
  height: auto;
}
.main .card .left .project-img {
  cursor: pointer;
  max-height: 300px;
  border-radius: 5px;
}
.main .card .right {
  min-width: 200px;
  padding: 1em 1em 0 1em;
}
.main .card .right .title {
  cursor: pointer;
}
.main .card .right .links * {
  display: inline-block;
}
.main .card .right .links p {
  margin: 0 0.5em;
}
.main .card .right .skill-badge {
  margin: 0.25em 0.5em;
}
