@import '../../variables';

$card-width: 540px;
$display-flex-breakpoint: 540px;
$min-card-width: 400px;

::-webkit-scrollbar {
    // display: none;
    background: transparent;
    width: 3px;
    // margin-right: .5em;
}

::-webkit-scrollbar-thumb {
    width: 2px;
    // height: 10px;
    border-radius: 1px;
    background-color: white;
}

.main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 3em 0 3em 0 !important;
    text-align: center;
    
    @media (min-width: $display-flex-breakpoint) {
        display: flex;
        flex-flow: row wrap;
        word-wrap: break-word;
        overflow-y: scroll;
        justify-content: space-around;
    }
    @media (max-width: $display-flex-breakpoint) {
        display: relative;
        overflow-x: hidden;
    }
    
    .card-wrapper {
        margin: auto;
    }
    
    .card {
        margin: 1em .5em;
        @media (max-width: $display-flex-breakpoint) {
            margin: 1em auto;
        }
        height: min-content;
        width: auto;
        max-width: $min-card-width;
        word-break: break-word;
            
        .left {
            min-width: 300px;
            height: auto;
            .project-img {
                cursor: pointer;
                max-height: 300px;
                border-radius: 5px;
                border: 1px solid white;
                padding: .5em;
            }
        }

        .right {
            min-width: 200px;
            padding: 1em 1em 0 1em;

            .title {
                cursor: pointer;
            }
            
            .links {
                p, a {
                    margin: 0 .5em;
                }
            }

            .skill-badge {
                margin: .25em .5em;
            }
        }
    }
}