<div class="bg row justify-content-center align-content-center">
    <div id="main" class="row justify-content-center align-content-center">
        <div class="card text-center pick-up gradient alt">
            <div class="card-body container">
                <h1>Hit me up!</h1>
                <h5> I'm always open to new opportunities, project ideas, or making new friends!</h5>
               <div class="divider"></div>
                <div id="contact">
                    <div id="links" class="hover-icons row justify-content-center">
                        <a
                        href="https://www.linkedin.com/in/ryan-racicot-2b8934129/"
                        target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-linkedin fa-3x"></i>
                    </a>
                    
                    <a
                        href="https://github.com/RyanRacicot"
                        target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-github fa-3x"></i>
                    </a>
                
                    <div id="email">
                        <a href="mailto:ryanmracicot@gmail.com" target="_blank" rel="noopener noreferrer">
                            ryanmracicot@gmail.com
                        </a>
                    </div>
                        <!-- <a
                            href="https://www.facebook.com/ryan.racicot.75"
                            target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-facebook fa-3x"></i>
                        </a> -->
    
                        <a
                            href="https://www.instagram.com/ryanracicot/"
                            target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-instagram fa-3x"></i>
                        </a>
    
                        <a
                            href="https://twitter.com/RyanRacicot"
                            target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-twitter fa-3x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>