.bg {
  height: 100%;
}
.bg #main {
  height: max-content;
  margin: 2em;
  width: 800px;
  min-width: 300px;
}
.bg #main #my-info,
.bg #main #direct-message {
  margin: 0.5em auto;
}
.bg #main #my-info * {
  display: inline-block;
}
.bg #main #my-info a {
  font-size: large;
}
.bg #main #messageMeForm {
  margin: 1em auto;
  width: 75%;
}
.bg #main #messageMeForm button.btn {
  margin-top: 1em;
}
.bg #main #messageMeForm #direct-message-group #name {
  border-radius: 5px 5px 0 0;
}
.bg #main #messageMeForm #direct-message-group option {
  font-style: italic;
}
.bg #main #messageMeForm #message {
  border-radius: 0px;
}
.bg #main #messageMeForm #message-type-select {
  border-radius: 0 0 5px 5px;
}
.bg #main #icons {
  margin-top: 0.5em;
}
.bg #main #icons .icon-divider {
  width: 1em;
}
.bg #main .card {
  width: inherit;
  height: inherit;
}
.bg ::-webkit-input-placeholder {
  font-style: italic;
}
.bg :-moz-placeholder {
  font-style: italic;
}
.bg ::-moz-placeholder {
  font-style: italic;
}
.bg :-ms-input-placeholder {
  font-style: italic;
}
