// @import '../../styles.scss';
// @import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../variables';

.bg {
	height: 100%;

	#main {
		height: max-content;
		text-align: center;
		margin: 2em;
		max-width: 600px;
		min-width: 300px;

		a {
			color: white;
			padding: 0.5em 0.5em;
			transition: all 0.2s;

			&:hover {
				color: $dark;
				text-decoration: none;
			}
		}

		#tag {
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				display: inline;
			}
		}

		#links {
			margin-top: 1em;
			text-align: center;
		}
		#email {
			display: inline-block;
			border-radius: 5px;
			border: 1px solid white;
			padding: 0.5em;
			background-color: transparent;
			color: white;
			margin: auto 0.5em;
			text-decoration: none;
			transition: all 0.15s ease;

			&:hover {
				color: $dark;
				background-color: white;
				transform: scale(1.1);
				a {
					color: $dark;
				}
			}
		}

		.divider {
			width: 75%;
			height: 1px;
			margin: 1em auto;
			background-color: white;
		}
	}
}
