.main {
  overflow: scroll;
  height: 100%;
  width: 100%;
  padding: 7em 1em 0em 1em;
  text-align: center;
}
.main .card {
  padding: 0.5em 1em;
  min-width: min-content;
  max-width: 750px;
  margin: auto;
}
.main .description {
  margin: 1em auto;
  margin-top: 0;
}
.main #links-wrapper {
  margin: 0.5em auto;
}
.main #links-wrapper #links {
  margin: 0 auto;
}
.main #links-wrapper #links a {
  margin: auto 0.25em;
  color: white;
  text-decoration: none;
}
.main #links-wrapper #links .link * {
  display: inline;
}
.main #skills .badge {
  padding: 0.5em 1em;
  margin: 0.5em;
}
.main .imgs {
  display: flex;
  flex-flow: row wrap;
}
.main .imgs .img-wrapper {
  padding: 0.5em;
  border: 1px solid white;
  border-radius: 5px;
  margin: 0.5em auto;
}
.main .imgs .img-wrapper .project-img {
  max-width: 100%;
  max-height: 400px;
  border-radius: 5px;
}
