// Bootstrap Theme Colors
$primary: rgb(243, 243, 243);
$secondary: #3d3f59;
$success: #64927C;
$dark: #554c8a;

$link-color: #dcc78d;
$app-secondary-color: #9C94A0;
$primary-text-color: rgb(42, 42, 43);
$linked-in-blue: #0072b1;
$twitter-blue: #00acee;
$bitbucket-blue: #1A47A5;
$facebook-blue: #3b5998;
